<dom-module id="top-enter">
    <sass>
        :host 
            li
                display: inline-block
                vertical-align: middle
                margin: 0 0 0 10px

                &:first-child
                    margin: 0
            
    </sass>
    <template>
        <ul>
            <li><a class="icon tw" href="#"></a></li>
            <li><a class="icon fb" href="#"></a></li>
            <li><a class="icon vk" href="#"></a></li>
        </ul>
    </template>
</dom-module>