.top-header
    .top-social
        position: absolute
        top: 50%
        right: 0
        margin: -12px 0 0

    .top-enter
        float: right
        margin: 3px 155px 0 0

        .s-button
            margin: 0 0 0 15px

.icon
    display: inline-block
    vertical-align: middle
    
    &.tw,
    &.fb,
    &.vk
        width: 25px
        height: 25px
        background: url(../i/social.png) no-repeat 0 0

    &.fb
        background-position: -34px 0

    &.vk
        background-position: -67px 0