.top-header
    .top-social
        position: absolute
        top: 50%
        right: 0
        margin: -12px 0 0

    .top-enter
        float: right
        margin: 3px 155px 0 0

        .s-button
            margin: 0 0 0 15px

.top-info
    height: 160px
    position: relative
    overflow: hidden

    .feedback
        margin: 30px 0 0
        float: right

        .feedback-phone
            margin: 20px 0 0 30px

    .slogan
        position: absolute
        top: 105px
        left: 255px

    .logo
        position: absolute
        top: 50%
        margin: -52px 0 0

.feedback
    .r-col
        width: 240px
        margin: 0 0 0 40px

.slogan
    font-size: 16px
    color: #1f4e66

    .mdash
        color: #c3dae6
        margin: 0 25px