* {
    margin: 0;
    padding: 0;
    outline:none;
}
html {
    height: 100%;
    font-size: 100.1%;
}
body {
    font: 12px/1.333 arial;
    height: 100%;
    color: #2a2a2a;
}
a img, fieldset {
    border: 0;
}
a {
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
/*a:hover{
	color:#3fa9f5;
}*/
li {
    list-style: none;
}
table {
	border-collapse: collapse;
}
/* html (begin) */
article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}
/* html (end) */

/* wrapper (begin) */
.wrapper {
	max-width: 1430px;
	margin: 0 auto;
	position: relative;
}
/* wrapper (end) */

/* cols (begin) */
.cols {}
.cols:after {
	content: '';
	display: block;
	clear: both;
}
.cols .l-col {
	float: left;
}
.cols .r-col {
	float: right;
}
/* cols (end) */

/* links (begin) */
a {
    color: #00aeef;
}
/* links (END) */

/* social-icon (begin) */
.social-icon {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 25px;
}
.social-icon.tw {
    background: url(../i/social.png) no-repeat 0 0;
}
.social-icon.fb {
    background: url(../i/social.png) no-repeat -34px 0;
}
.social-icon.vk {
    background: url(../i/social.png) no-repeat -67px 0;
}
/* social-icon (end) */

/* ul.top-social (begin) */
ul.top-social {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -9px 0 0;
}
/* ul.top-social (end) */

/* top-enter (begin) */
top-enter {
    float: right;
    margin-right: 155px;
}
top-enter s-button {
    margin: 0 0 0 10px;
}
/* top-enter (end) */